[class*="col-"] {
  font-family: sans-serif;
  font-size: 165px;
  color: white;
  text-align: center;
}

.col-12 {
  background: yellow;
}

.col-8 {
  background: #45c1bc;
}

.col-4 {
  background: #a94dc4;
}

@media (max-width: 768px) {
  .col-8 {
    width: 100%;
  }
  .col-4 {
    width: 100%;
  }
}
